#home-title {
  filter: drop-shadow(.4rem .4rem 0 var(--mid)) drop-shadow(.8rem .8rem 0 var(--dark)) ;
  text-align: center;
  margin: 0;
}
.home-title-desktop {
  font-size: 10rem;
  letter-spacing: .8rem;
}
.home-title-phone {
  font-size: 24vw;
  letter-spacing: .8vw;
}


#home-quick-description {
  text-align: center;
  filter: drop-shadow(.1rem .1rem 0 var(--mid)) drop-shadow(.2rem .2rem 0 var(--dark));
}
.home-quick-description-desktop {
  font-size: 2rem;
  letter-spacing: .2rem;
}
.home-quick-description-phone {
  font-size: 5vw;
  letter-spacing: .7vw;
}


#home-button2 {
  background-color: var(--dark);
  border-radius: var(--border-radius);
  height: 4rem;
  filter: drop-shadow(.2rem .2rem 0 var(--light)) ;
  font-size: 2rem;
  color: var(--mid);
  font-family: var(--font-main);
  transition: background-Color ease .2s, color ease .2s;
}
#home-button2:hover {
  background-color: var(--mid);
  color: var(--dark);
}

#home-button1 {
  background-color: var(--mid);
  border-radius: var(--border-radius);

  height: 4rem;
  filter: drop-shadow(.2rem .2rem 0 var(--light)) ;
  font-size: 2rem;
  color: var(--light);
  font-family: var(--font-main);
  transition: background-Color ease .2s, color ease .2s;

}
#home-button1:hover {
  background-color: var(--light);
  color: var(--mid);
}

.home-button-desktop {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.home-button-phone {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.paralax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
  margin: 0;
  padding: 0;
 }

 .paralax-contents {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   transform-style: preserve-3d;
   z-index: -1;
 }

 .background_logo, .background_image   {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
 }

 .background_break{
   position: absolute;
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
   z-index: -1;
   transform: translateZ(-50px) scale(2) translateY(0);
   opacity: 40%;
 }

 .background_logo {
   transform: translateZ(-70px) scale(.7) translateY(-20vh) rotate3d(1, .2, 0, 1.5deg);
 }

 .background_image {
   transform: translateZ(-100px) scale(2.1);
   filter: blur(1px) brightness(70%);
 }

 .vgrid2 {
   display: grid;
   grid-template-rows: auto auto;
 }

 .vgrid3 {
   display: grid;
   grid-template-rows: auto auto;
 }


