
:root {
  --border-radius : 8px;
  --dark : rgb(31, 31, 31);
  --mid : rgb(42, 102, 42);
  --light : rgb(255, 245, 225);
  --font-main : 'Bigshot One', cursive;
}

body {
  background: linear-gradient(135deg ,var(--mid) 0% ,var(--dark) 100% );
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-main);
  color: var(--light);
}
p {
  font-family: var(--font-main);
  color: var(--light);
}

::-webkit-scrollbar {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

#redwood-app {
  padding: 0;
  margin: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.paralax-wrapper {
 height: 100vh;
 overflow-y: auto;
 overflow-x: hidden;
 perspective: 100px;
 margin: 0;
 padding: 0;
}



.paralax-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
}

.background_logo, .background_image   {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background_break{
  position: absolute;
 background-color: var(--black);
 width: 100vw;
 height: 100vh;
  z-index: -1;
  transform: translateZ(-50px) scale(2) translateY(0);
  opacity: 40%;
}

.background_logo {
  transform: translateZ(-70px) scale(.7) translateY(-20vh) rotate3d(1, .2, 0, 1.5deg);
}

.background_image {
  transform: translateZ(-100px) scale(2.1);
  filter: blur(1px) brightness(90%);
}


.latest_release {
 text-shadow: 0px 0px 5px var(--black);
 transform: translateY(0vh) scale(.4);
 color: var(--light-blue);
}
.section_title {
  text-shadow: 0px 0px 2rem var(--black);
  font-size: 10vh;
  margin-left: 2vw;
 transform: translateY(-7vh) ;
}

.page_section_black {
  color: var(--pink);
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  padding: 0;
  height: 100vh;
  background-color: var(--black);
}

.vgrid2 {
  display: grid;
  grid-template-rows: auto auto;
}
.vgrid3 {
  display: grid;
  grid-template-rows: auto auto;
}

