
:root {
  --border-radius : 8px;
  --dark : rgb(31, 31, 31);
  --mid : rgb(42, 102, 42);
  --light : rgb(255, 245, 225);
  --font-main : 'Bigshot One', cursive;
  --margin-sides : 11vw;
}

body {
  background: linear-gradient(135deg ,var(--mid) 0% ,var(--dark) 100% );
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-main);
  color: var(--light);
}
h2 {
  font-family: var(--font-main);
  color: var(--light);
}
p {
  font-family: var(--font-main);
  color: var(--light);
}

::-webkit-scrollbar {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--black);
  width: 10px;
  height: 100px;
}

#redwood-app {
  padding: 0;
  margin: 0;
}

/* Remove Button Display */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.blurdark {
  filter: blur(4px) brightness(50%);
}

.margin-box {
  position: absolute;
  left: var(--margin-sides);
  width: calc(100vw - (2 * var(--margin-sides)) );
  display: grid;
  --gap : 1vw;
  --columns : 6;
  --col-width : calc((100vw - (2* var(--margin-sides)) - (var(--columns) - 1) * var(--gap)) / var(--columns));
  grid-template-columns: var(--col-width) var(--col-width) var(--col-width) var(--col-width) var(--col-width) var(--col-width);
  grid-auto-rows: var(--col-width);
  gap: var(--gap);
}

.background-image-phone {
  position: fixed;
  object-fit: contain;
  height: 100vh;
  left: -50vw;
  overflow-x: hidden;
}
.theme-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(135deg ,var(--mid) 0% ,var(--dark) 100% );
}

.button2 {
  background-color: var(--dark);
  border-radius: var(--border-radius);
  height: 4rem;
  filter: drop-shadow(.2rem .2rem 0 var(--light)) ;
  font-size: 2rem;
  color: var(--mid);
  font-family: var(--font-main);
  transition: background-Color ease .2s, color ease .2s;
  width: 100%;
}
.button2:hover {
  background-color: var(--mid);
  color: var(--dark);
}

